.article-content {
  .ant-form-item {
    margin-bottom: 0;
  }
}

.article-container {
  width: 41.2rem;
  max-width: 100%;
  padding: 0rem 2rem 0 2rem;
  background: #fff;
  border-bottom: 0.05rem solid #e5e5e5;
  border-top: 0.05rem solid #e5e5e5;
}

.info {
  padding: 0rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tag {
    height: 2rem;
    display: flex;
    // padding: 0 0.5rem;
    align-items: center;
    .tagtitle {
      height: 1rem;
      font-size: 0.6rem;;
      background-color:@primary-color ;
      border-radius: 1rem;
      padding: 0 0.4rem;
      color: #ffffff;
      text-align: center;
      margin-right: 0.2rem;
    }
  }
  .left {
    display: flex;
    align-items: center;
    line-height: 0.6rem;
    color: @primary-color;
    .icon {
      margin-right: 0.1rem;
    }
  }
}

.infotime {
  padding: 0.2rem 2rem 1rem 2rem;
  display: flex;
  .left {
    display: flex;
    align-items: center;
    line-height: 0.6rem;
    color: #333333;
    .icon {
      margin-right: 0.4rem;
    }
  }
}

.nav-container {
  position: fixed;
  right: 5rem;
  top: 15.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 0.05rem solid #eee;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.1);
  transform: translate(0, 0);
  transition: transform 500ms ease;
  .list {
    color: #333333;
    font-size: 1rem;
    text-align: center;
  }
}

.comment {
  background-color: #fff;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  .ant-comment-avatar img {  
    border-radius: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}