@import "https://fonts.googleapis.com/css?family=Lato:300";
@import "https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css";

.background {
  background: #eee;
  background: linear-gradient(
    120deg,
    rgba(50, 150, 100, 0.2),
    rgba(0, 0, 100, 0)
  );
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: -7vh;
  padding-bottom: 239px; */
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  background: #eee;
  background: linear-gradient(
    240deg,
    rgba(150, 50, 50, 0.3),
    rgba(0, 0, 200, 0)
  );
}

#card {
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 300px;
  padding: 25px;
  height: 400px;
  min-height: 300px;
  border-radius: 5px;
  position: relative;
}
#card .details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 20px;
  color: #888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: color 2s ease;
}
#card .details .right {
  text-align: right;
}
#card .details #date {
  margin: 4px 0;
}
#card .details #summary {
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
}
#card .details .temp {
  font-size: 60px;
  line-height: 60px;
}
#card .details .temp span {
  font-size: 31px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: top;
  margin-left: 5px;
}
.weather {
  background-color: black;
  transition: background-color 2s ease;
}


.infos {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  line-height: 29px;
  font-weight: 600;
  color: #888;
  margin-top: -50px;
}
.weatherimg {
  width: 100%;
  margin-top: 2vh;
}
.windimg {
  width: 14%;
  /* margin-left: 2vh; */
}
/* .windspeed {
  margin-top: -42px;
  margin-left: 9vh;
} */
.humidityimg {
  width: 14%;
  /* margin-left: 3vh;
  margin-bottom: -8vh; */
}
/* .humidity {
  margin-left: 9vh;
} */
.visibility {
  margin-top: -42px;
  margin-left: 9vh;
}
.visibilityimg {
  width: 14%;
  margin-left: 3vh;
}


