.head {
  height: 60px;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  // 吸顶
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  .tent {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
    .nav {
      display: flex;
      .titlelink {
        color: #333333;
      }
      .titlelink:hover {
        color:#007fff;
      }
    }
  }
}