.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .homemsg {
    color: #333333;
    text-align: center;
  }
}
// .flexgrid {
//   display: grid;
//   grid-template-columns: 12.5rem 12.5rem 12.5rem;
//   grid-template-rows: 16rem 16rem 16rem;
// }
.flexgrid {
  display: flex;
  width: 41.2rem;
  flex-wrap: wrap;
  flex: 1;
}

.up {
  background-color: @primary-color;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.45rem 0.35rem 2rem -0.3rem rgba(0, 0, 0, 0.856);
  z-index: 1000;
}

.pagetion {
  height: 4rem;
  width: 41.2rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem !important;
}

.ant-pagination-simple-pager {
  margin: 1.2rem 16rem  0 15rem !important;
  width: 5rem;
}

.page {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.45rem 0.35rem 2rem -0.3rem rgba(0, 0, 0, 0.25);
}