.old {
  padding-inline: 10px;
  font-size: 15px;
  color:#007fff;
}

.new {
  padding-inline: 10px;
  font-size: 15px;
  color:#333333;
}

.title:hover {
  color:#007fff;
  cursor: pointer;
}

.oldtext {
  height: 24px;
  border-radius: 1rem;
  padding-inline: 10px;
  font-size: 15px;
  color:#fff;
  background-color: #007fff;
  margin-right: 10px;
}

.newtext {
  height: 24px;
  border-radius: 1rem;
  padding-inline: 10px;
  font-size: 15px;
  color:#333333;
  background-color: #fff;
  margin-right: 10px;
}

.up {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
}

.data {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
  font-size: 13px;
  :hover {
    color: blue;
  }
}